@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&family=Noto+Serif+KR&display=swap');

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.hidden {
    display: none;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 98.3vh; */
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.content {
    width: 100%;
    flex: 1;
}

#date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 3;
}

#clock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10em;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 5px rgb(80, 80, 80);
}

#clockSpan {
    display: flex;
    flex-direction: row;
    margin: 0 15px;
}

#clock span:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#noon {
    font-size: 50px;
    opacity: .7;
    text-shadow: none;
}

#second {
    font-size: 65px;
    line-height: 55px;
}

#today {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px #333;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}

form {
    display: flex;
    justify-content: center;
}

#username {
    background: none;
    border: 0;
    border-bottom: 1px solid #fff;
    width: 500px;
    font-size: 50px;
    color: #fff;
    text-align: center;
}

#username::placeholder {
    color: #fff;
    text-align: center;
    font-size: 50px;
    opacity: .5;
}

#username:focus-visible {
    outline: 0;
}

#submit {
    border: 0;
    background: none;
}

#submit svg {
    fill: #fff;
}

#greeting {
    text-align: center;
    color: #fff;
    font-family: 'Noto Serif KR', serif;
}

#todoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#todoList input {
    background: none;
    border: 0;
    border-bottom: 1px solid #fff;
    width: 300px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

#todoList input::placeholder {
    color: #fff;
    text-align: center;
    font-size: 20px;
    opacity: .5;
}

#todoList input:focus-visible {
    outline: 0;
}

#todoList ul {
    width: 320px;
    background: #ffffff5e;
    border-radius: 5px;
    padding: 5px;
    height: 450px;
    overflow: scroll;
}

#myList li {
    list-style: url('../img/check-solid.svg');
    list-style-position: inside;
    text-indent: 10px;
}

#myList li::marker {
    font-size: 1.4em;
}

#myList li button {
    border: 0;
    background: none;
}

#weather {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: flex-end;
    align-items: flex-end;
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
}

#weather #tempInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#icon {
    width: 40px;
}

#weather #city {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}